<mat-card>
  <mat-card-subtitle>
    <p class="basic-detail">
      <span *ngIf="animalModel.type"><strong>Type:</strong> {{animalModel.type | titlecase}}</span>
      <span *ngIf="animalModel.cageNo"><strong>Cage No:</strong> {{animalModel.cageNo}}</span>
      <span *ngIf="animalModel.animalNumberInCage"><strong>Animal No In Cage:</strong> {{animalModel.animalNumberInCage}}</span>
      <span *ngIf="animalModel.animalNumber"><strong>Animal No:</strong> {{animalModel.animalNumber}}</span>
    </p>
  </mat-card-subtitle>
  <mat-card-content>
    <app-details-table [animalModel]="animalModel" *ngIf="!editing"></app-details-table>
    <app-edit-details-table [animalModel]="animalModel" *ngIf="editing"></app-edit-details-table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="dialogRef.close(animalModel?.animalNumber)">OK</button>
    <button mat-button (click)="editAnimal()">
      <span *ngIf="!editing">Edit</span>
      <span *ngIf="editing">Save</span>
    </button>
  </mat-card-actions>
</mat-card>
