<mat-card>
  <mat-card-subtitle>
    <p class="basic-detail">
      <span *ngIf="animalModel.type"><strong>Type:</strong> {{animalModel.type | titlecase}}</span>
      <span *ngIf="animalModel.cageNo"><strong>Cage No:</strong> {{animalModel.cageNo}}</span>
      <span *ngIf="animalModel.animalNumberInCage"><strong>Animal No In Cage:</strong> {{animalModel.animalNumberInCage}}</span>
      <span *ngIf="animalModel.animalNumber"><strong>Animal No:</strong> {{animalModel.animalNumber}}</span>
    </p>
  </mat-card-subtitle>
  <mat-card-content>
    <table class="mat-table">
      <tbody>
        <tr *ngIf="animalModel.animalNumber">
          <td><strong>Date of Birth</strong></td>
          <td>{{animalModel.dob}}</td>
        </tr>
        <tr *ngIf="animalModel.parents">
          <td><strong>Parents</strong></td>
          <td>{{animalModel.parents}}</td>
        </tr>
        <tr *ngIf="animalModel.location">
          <td><strong>Location</strong></td>
          <td>{{animalModel.location}}</td>
        </tr>
        <tr *ngIf="animalModel.sex">
          <td><strong>Sex</strong></td>
          <td>
            {{animalModel.sex}}
            <mat-icon inline *ngIf="animalModel?.sex === 'M'">male</mat-icon>
            <mat-icon inline *ngIf="animalModel?.sex === 'F'">female</mat-icon>
          </td>
        </tr>
        <tr *ngIf="animalModel.injection">
          <td><strong>Injection</strong></td>
          <td>{{animalModel.injection}}</td>
        </tr>
        <tr *ngIf="animalModel.comments">
          <td><strong>Comments</strong></td>
          <td>{{animalModel.comments}}</td>
        </tr>
        <tr *ngIf="animalModel.purpose">
          <td><strong>Purpose</strong></td>
          <td>{{animalModel.purpose}}</td>
        </tr>
        <tr *ngIf="animalModel.painModel">
          <td><strong>Pain Model</strong></td>
          <td>{{animalModel.painModel}}</td>
        </tr>
        <tr *ngIf="animalModel.surgeryDate">
          <td><strong>Surgery Date</strong></td>
          <td>{{animalModel.surgeryDate}}</td>
        </tr>
        <tr *ngIf="animalModel.sacDate">
          <td><strong>Sacrificed Date</strong></td>
          <td>{{animalModel.sacDate}}</td>
        </tr>
        <tr *ngIf="animalModel.cryoprotect">
          <td><strong>Cryoprotect Date</strong></td>
          <td>{{animalModel.cryoprotect}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="dialogRef.close(animalModel?.animalNumber)">OK</button>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card>
