<mat-card class="example-card">
  <mat-card-content>
    <div class="header">
      <h3>
        <span *ngIf="animal?.cageNo">{{animal?.cageNo}} - </span>
        <span>{{animal?.animalNumberInCage}}</span>
      </h3>
      <span class="control">
        <span *ngIf="animal?.sex">
          <mat-icon inline *ngIf="animal?.sex === 'M'">male</mat-icon>
          <mat-icon inline *ngIf="animal?.sex === 'F'">female</mat-icon>
        </span>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon>more_horiz</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
