<mat-toolbar class="app-toolbar" color="warn">
  <button mat-button class="menu" aria-label="menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a href="settings" mat-menu-item>Settings</a>
    <a href="logout" mat-menu-item>Logout</a>
  </mat-menu>

  <span>ARC - Animal Research Cycle</span>
  <span class="menu-spacer"></span>
  <button mat-icon-button *ngIf="draggable.value" (click)="toggleDraggable()">
    <mat-icon>flip_to_front</mat-icon>
  </button>
  <button mat-icon-button class="mat-button-disabled" *ngIf="!draggable.value" (click)="toggleDraggable()">
    <mat-icon>flip_to_front</mat-icon>
  </button>
</mat-toolbar>
