<mat-toolbar class="app-toolbar" color="warn">
  <button mat-button class="menu" aria-label="menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a href="settings" mat-menu-item>Settings</a>
    <a href="logout" mat-menu-item>Logout</a>
  </mat-menu>

  <span>ARC - Animal Research Cycle</span>
  <span class="menu-spacer"></span>
  <span class="isArchived-toggle" (click)="toggleViewArchived()">
    <button mat-icon-button *ngIf="controlPanel.get('isArchived')?.value">
      <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!controlPanel.get('isArchived')?.value" class="mat-button-disabled">
      <mat-icon>archive</mat-icon>
    </button>
  </span>
  <span class="draggable-toggle" (click)="toggleDraggable()">
    <button mat-icon-button *ngIf="controlPanel.get('draggable')?.value">
      <mat-icon>flip_to_front</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!controlPanel.get('draggable')?.value" class="mat-button-disabled">
      <mat-icon>flip_to_front</mat-icon>
    </button>
  </span>
</mat-toolbar>
