<div class="content">
  <div cdkDropListGroup class="all-boards">
    <app-animal-board [animalList]="newAnimals" [listTitle]="'New'">
      <button mat-mini-fab class="new-animal" color="warn" aria-label="Example icon button with a filter list icon">
        <mat-icon>library_add</mat-icon>
      </button>
    </app-animal-board>
    <app-animal-board [animalList]="inProgressAnimals" [listTitle]="'In Progress'"></app-animal-board>
    <app-animal-board [animalList]="sacrificedAnimals" [listTitle]="'SAC'"></app-animal-board>
    <app-animal-board [animalList]="sectionedAnimals" [listTitle]="'Sectioned'"></app-animal-board>
    <app-animal-board [animalList]="mountedAnimals" [listTitle]="'Mounted'"></app-animal-board>
    <app-animal-board [animalList]="cryoProtectAnimals" [listTitle]="'Cryoprotect'"></app-animal-board>
    <app-animal-board [animalList]="fdicAnimals" [listTitle]="'FDIC'" [matBadgeColorInput]="'warn'"></app-animal-board>
  </div>
</div>
