<div class="content">
  <div cdkDropListGroup class="all-boards">
    <div class="single-board">
      <h3><span class="board-title" matBadge="{{newAnimals.length}}" matBadgeColor="warn" matBadgePosition="before">New</span></h3>

      <div
        cdkDropList
        [cdkDropListData]="newAnimals"
        class="animal-list"
        (cdkDropListDropped)="drop($event)">
        <app-animal-card *ngFor="let animal of newAnimals" [animal]="animal" cdkDrag></app-animal-card>
      </div>
    </div>

    <div class="single-board">
      <h3><span class="board-title" matBadge="{{inProgressAnimals.length}}" matBadgeColor="warn" matBadgePosition="before">In-Progress</span></h3>

      <div
        cdkDropList
        [cdkDropListData]="inProgressAnimals"
        class="animal-list"
        (cdkDropListDropped)="drop($event)">
        <app-animal-card *ngFor="let animal of inProgressAnimals" cdkDrag [animal]="animal"></app-animal-card>
      </div>
    </div>

    <div class="single-board">
      <h3><span class="board-title" matBadge="{{sacrificedAnimals.length}}" matBadgeColor="warn" matBadgePosition="before">SAC</span></h3>

      <div
        cdkDropList
        [cdkDropListData]="sacrificedAnimals"
        class="animal-list"
        (cdkDropListDropped)="drop($event)">
        <app-animal-card *ngFor="let animal of sacrificedAnimals" cdkDrag [animal]="animal"></app-animal-card>
      </div>
    </div>

    <div class="single-board">
      <h3><span class="board-title" matBadge="{{sectionedAnimals.length}}" matBadgeColor="warn" matBadgePosition="before">Sectioned</span></h3>

      <div
        cdkDropList
        [cdkDropListData]="sectionedAnimals"
        class="animal-list"
        (cdkDropListDropped)="drop($event)">
        <app-animal-card *ngFor="let animal of sectionedAnimals" cdkDrag [animal]="animal"></app-animal-card>
      </div>
    </div>

    <div class="single-board">
      <h3><span class="board-title" matBadge="{{mountedAnimals.length}}" matBadgeColor="warn" matBadgePosition="before">Mounted</span></h3>

      <div
        cdkDropList
        [cdkDropListData]="mountedAnimals"
        class="animal-list"
        (cdkDropListDropped)="drop($event)">
        <app-animal-card *ngFor="let animal of mountedAnimals" cdkDrag [animal]="animal"></app-animal-card>
      </div>
    </div>

    <div class="single-board">
      <h3><span class="board-title" matBadge="{{cryoProtectAnimals.length}}" matBadgeColor="warn" matBadgePosition="before">Cryoprotect</span></h3>

      <div
        cdkDropList
        [cdkDropListData]="cryoProtectAnimals"
        class="animal-list"
        (cdkDropListDropped)="drop($event)">
        <app-animal-card *ngFor="let animal of cryoProtectAnimals" cdkDrag [animal]="animal"></app-animal-card>
      </div>
    </div>

    <div class="single-board">
      <h3><span class="board-title" matBadge="{{fdicAnimals.length}}" matBadgeColor="primary" matBadgePosition="before">FDIC</span></h3>

      <div
        cdkDropList
        [cdkDropListData]="fdicAnimals"
        class="animal-list"
        (cdkDropListDropped)="drop($event)">
        <app-animal-card *ngFor="let animal of fdicAnimals" cdkDrag [animal]="animal"></app-animal-card>
      </div>
    </div>
  </div>
</div>
