$board-padding: 0.5rem;
$board-margin: 0.5rem;
$total-boards: 7;
$board-bg: #f5ebeb;
$board-bg-draggable: #ebeff5;
$total-boards-less-one: $total-boards - 1;

.content {
  padding: 0;
  height: calc(100% - 7rem);
  display: flex;
}

.header-collection {
  position: sticky;
  z-index: 1001;
  top: 0;
  height: 1.5rem;

  span {
    font-size: 14px;
  }
}

.all-boards {
  min-height: 100%;
  display: flex;
  flex-grow: 1;
}

.single-board {

  &.is-archived {
    background-color: $board-bg;
  }

  width: calc(#{100% / $total-boards} - #{$board-padding * 2} - #{#{$board-margin * $total-boards-less-one}/$total-boards});
  max-width: 100%;
  padding: $board-padding;
  display: inline-block;
  vertical-align: top;
  background-color: $board-bg-draggable;
  margin-right: $board-margin;
  min-height: 100%;

  &:not(:last-child):not(:first-child) {
    border-left: 0;
  }

  &:last-child {
    border-left: 1px;
    margin-right: 0;
  }

  .new-animal.mat-mini-fab {
    line-height: 28px;
    height: 28px;
    width: 28px;

    .mat-icon {
      margin-top: -8px;
      font-size: 18px;
    }
  }
}

.animal-card {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: $board-margin;

  &:last-child {
    margin-bottom: 0;
  }
}

.animal-list.cdk-drop-list-dragging .animal-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
