<form [formGroup]="animalModelFormGroup">
  <table class="mat-table">
    <tbody>
    <tr *ngIf="animalModel?.dob">
      <td><strong>Date of Birth</strong></td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dob">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="animalModel?.parents">
      <td><strong>Parents</strong></td>
      <td>{{animalModel?.parents}}</td>
    </tr>
    <tr *ngIf="animalModel?.location">
      <td><strong>Location</strong></td>
      <td>{{animalModel?.location}}</td>
    </tr>
    <tr *ngIf="animalModel?.sex">
      <td><strong>Sex</strong></td>
      <td>
        {{animalModel?.sex}}
        <mat-icon inline *ngIf="animalModel?.sex === 'M'">male</mat-icon>
        <mat-icon inline *ngIf="animalModel?.sex === 'F'">female</mat-icon>
      </td>
    </tr>
    <tr *ngIf="animalModel?.injection">
      <td><strong>Injection</strong></td>
      <td class="code">{{animalModel?.injection}}</td>
    </tr>
    <tr *ngIf="animalModel?.comments">
      <td><strong>Comments</strong></td>
      <td class="code">{{animalModel?.comments}}</td>
    </tr>
    <tr *ngIf="animalModel?.purpose">
      <td><strong>Purpose</strong></td>
      <td class="code">{{animalModel?.purpose}}</td>
    </tr>
    <tr *ngIf="animalModel?.painModel">
      <td><strong>Pain Model</strong></td>
      <td>{{animalModel?.painModel}}</td>
    </tr>
    <tr *ngIf="animalModel?.surgeryDate">
      <td><strong>Surgery Date</strong></td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Surgery Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="surgeryDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="animalModel?.sacDate">
      <td><strong>Sacrificed Date</strong></td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Sacrificed Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="sacDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="animalModel?.mounted">
      <td><strong>Mounted Date</strong></td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Mounted Date<</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="mounted">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="animalModel?.cryoprotect">
      <td><strong>Cryoprotect Date</strong></td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Cryoprotect Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="cryoprotect">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    </tbody>
  </table>
</form>
